


/* 公共样式库 */
header.header{
  border-bottom: 1px solid rgba(197, 197, 197, .5);
  height: 70px;
  margin-bottom: 2.5em;
}
.mian{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
body{
    font: 16px/1.1 "yahei";
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
a:hover{
  text-decoration: underline;
}