body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style:none;
}
i{
    font-style: normal;
}
input,
button{
    outline: none;
    border: 0;
    background-color: transparent;
}
button{
    cursor: pointer;
}